<%- include("parts/header") %>
<%- include("parts/navbar") %>  

<div class="container" style=" height:80vh ;">

<div class="card" style="width: 18rem;">
    <img src="/<%= product.image %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p ><%= product.price %></p>
      <p class="card-text text-danger"><%= product.description %></p>
      <a href="#" class="btn btn-primary">Go home</a>
    </div>
  </div>

  </div>

<%- include("parts/footer") %>
